<!DOCTYPE html>
<html lang="en">
<head>
    <title>Weather</title>
    <!-- <link rel="stylesheet" href="../assets/style.css"> -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;600&family=Cinzel:wght@600&family=Poppins:wght@300;400;500;800&display=swap');
*{
    margin:0px;
    border:0px;
    font-family: 'Poppins', sans-serif;
    background-color: aliceblue;
    
}
.container{
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   height: 100vh;
   position: relative;  
}
.profile{
    position: absolute;
    top: 40px;
    left:60px;
}
.nav-bar{
    position: absolute;
    top:40px;
    right:65px;
}
nav .login-btn{
    color:black;
    font-size: 13px;
    padding:15px 20px; 
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 25px;
    border:2px solid rgb(142, 139, 139);
}
nav .login-btn:hover{
    border:3px solid rgb(255, 50, 50);
}
.fav{
    position: absolute;
    top: 8%;
    left:20px;
}
#form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.login{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.login-btn{
    width: 7rem;
    border-radius: 25px;
    cursor: pointer;
}
.login-btn:hover{
    border: 2px solid greenyellow;
}
.login-btn:active{
    box-shadow: 2px 2px 10px 2px rgb(95, 93, 93);
}

#btn{
    margin:0px;
    width: 6rem;
    padding:10px;
    height: 3.5rem;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
#btn:hover{
    border: 3px solid greenyellow;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}
#btn:active{
    box-shadow: 2px 2px 10px 2px rgb(95, 93, 93);
}
#loc{
    font-weight: 500;
    margin-top:10px;
    margin-bottom:0px;
    border: 0px;
    font-size: 35px;
}
h1{
    margin-top:50px;
    font-size:55px;
}
input{
    background: white;
    border: 2px solid rgb(142, 139, 139);
    margin: 25px;
    padding:15px 20px;
    width: 18rem;
    border-radius: 25px;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.weather, .image, .minValues, .maxValues, .imgClass{
    background-color: white;
}
.icons{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.forecast{
    display: flex;
}
.card{
    margin:40px;
    background-color: white;
    padding:30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
h3{
    background-color: white;
}
h2{
    margin-bottom:20px;
}
span{
    font-weight: 400;
    background-color: white;
}
img{
    width: 100px;
    height: 100px;
}
    </style>
</head>
<body>
    <div class="container">
        <h4 class="profile"><%=email%></h4>
        <input style="display:none" id="fav" type="text" value="<%=fav%>" readonly>
        <nav class="nav-bar">
            <a href="/logout" class="login-btn" style="text-decoration: none;">Logout</a>
        </nav>
        <h1> Weather </h1>
        <div class="card fav">
            <h2 class="weather">Favorite Place</h2>
            <h3 class="weather" id="fav-place">Loading...</h3>
            <p class="minValues" id="fav-temp">Loading...</p>
        </div>
        <img src="images/cloud.png"/>
        <form id="form">
            <input placeholder="Enter the city" type="text" name="city" id="city" autocomplete="off" autocapitalize="on" autofocus="on"/>
            <input type="submit" id="btn" value="Get">
        </form>
        <h1 id="loc" style="visibility: hidden">Location</h1>
        <div class="forecast" id="forecast" style="visibility: hidden">
            <div class="card">
                <div id="iconsContainer">
                    <div class="icons">
                        <h4 class="weather" id="day1"></h4>
                        <div class="image">
                            <img src="dots.png" class="imgClass" id="img1" alt="">
                        </div>
                        <p class="minValues" id="day1Min">...</p>
                        <p class="maxValues" id="day1Max">...</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div id="iconsContainer">
                    <div class="icons">
                        <h4 class="weather" id="day2"></h4>
                        <div class="image">
                            <img src="dots.png" class="imgClass" id="img2">
                        </div>
                        <p class="minValues" id="day2Min">...</p>
                        <p class="maxValues" id="day2Max">...</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div id="iconsContainer">
                    <div class="icons">
                        <h4 class="weather" id="day3"></h4>
                        <div class="image">
                            <img src="dots.png" class="imgClass" id="img3">
                        </div>
                        <p class="minValues" id="day3Min">...</p>
                        <p class="maxValues" id="day3Max">...</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div id="iconsContainer">
                    <div class="icons">
                        <h4 class="weather" id="day4"></h4>
                        <div class="image">
                            <img src="dots.png" class="imgClass" id="img4">
                        </div>
                        <p class="minValues" id="day4Min">...</p>
                        <p class="maxValues" id="day4Max">...</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div id="iconsContainer">
                    <div class="icons">
                        <h4 class="weather" id="day5"></h4>
                        <div class="image">
                            <img src="dots.png" class="imgClass" id="img5">
                        </div>
                        <p class="minValues" id="day5Min">...</p>
                        <p class="maxValues" id="day5Max">...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', ()=>{
  const apiKey = '4d7d0912d819bc8ea0e6661d1cc2b571';
    const city = document.getElementById('fav').value;
  const url = `https://api.openweathermap.org/data/2.5/weather?q=${city}&appid=${apiKey}&units=metric`;  
  fetch(url)
      .then(res => res.json())
      .then(data => {
          document.getElementById('fav-place').innerHTML = data.name;
          document.getElementById('fav-temp').innerHTML = 'Temp : '+ data.main.temp;
          console.log(data)
      }).catch(error => console.log(error));
})

const form = document.querySelector('form')

form.addEventListener('submit', (e) => {
  e.preventDefault();
  const apiKey = '4d7d0912d819bc8ea0e6661d1cc2b571';
    const city = document.getElementById('city').value;
    const url = `https://api.openweathermap.org/data/2.5/forecast?q=${city}&appid=${apiKey}`;
    const forecast = document.getElementById("forecast")
    const loc = document.getElementById('loc')

    fetch(url)
        .then(res => res.json())
        .then(data => {
              for(i=0;i<5;i++){
                document.getElementById("day" +(i+1)+"Min").innerHTML = "Min : "+ Number(data.list[i].main.temp_min -273.15).toFixed(1)+" deg";
              }
              for(i=0;i<5;i++){
                document.getElementById("day" +(i+1)+"Max").innerHTML = "Max : "+ Number(data.list[i].main.temp_max -273.15).toFixed(1)+" deg";
              }
              for(i=0;i<5;i++){
                document.getElementById("img" +(i+1)).src = "http://openweathermap.org/img/wn/"+data.list[i].weather[0].icon+".png";
              }
              document.getElementById('loc').innerHTML = data.city.name;
              forecast.style.visibility = "visible";
              loc.style.visibility = "visible";
              Notification.requestPermission().then(permission => {
                if(permission === 'granted'){
                  new Notification("Weather Forecast",
                    {
                      body: `The current temperature in ${(data.city.name).toUpperCase()} is ${((data.list[0].main.temp_min) - 273.15).toFixed(1)+"°C"}`,
                      icon:"/images/cloud2.png"
                    }
                  )
                }
              })
            console.log(data)
        }).catch(error => console.log(error));
        document.getElementById('city').value = ""
        const d = new Date()
        const weekday = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
        function checkDay(day){
            if(day + d.getDay > 7){
                return (day + d.getDay()) % 7;
            }else{
                return day + d.getDay();
            }
        }
        for(i=0;i<5;i++){
            document.getElementById("day"+(i+1)).innerHTML = weekday[checkDay(i)];
        }
})
    </script>
</body>
</html>